/** begin ---base.css---*/
@charset "utf-8";

/*
	@名称: base
	@功能: 重设浏览器默认样式
*/

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{
	color:#000;background:#fff;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
	font:12px/1.5 tahoma,arial,Hiragino Sans GB,\5b8b\4f53;
}
input,select,textarea{
	font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table{
	border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th{
	text-align:inherit;
}

/* 去除默认边框 */
fieldset,img{
	border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
	display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{
	border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
	text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
	list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
	text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:500;
}

q:before,q:after {
	content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}



/* 让链接在 hover 状态下显示下划线 */
a:hover {
	text-decoration:underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
	text-decoration:none;
}

/* 清理浮动 */
.fn-clear:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.fn-clear {
	zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
	display:none;
}

/* 设置内联, 减少浮动带来的bug */
.fn-left,.fn-right {
	display:inline;
}
.fn-left {
	float:left;
}
.fn-right {
	float:right;
}

/** end ---base.css---*/
/**Last Changed Author: zhanxin.lin--Last Changed Date: Mon Jul 30 15:57:57 CST 2012**/
/**alice.base-1.2**/
/** CurrentDeveloper: shawn**/
/** DeployDate: Tue Jul 31 09:35:41 CST 2012**/

/** begin ---homeindex.css---*/
/**
 * @name : index.css
 * @desc : the style for index
 * @author : 展新(zhanxin.lin@alipay.com) AND 定风波
 */

/** default **/
a { color: #666666; }

/**********************************
 *          解决方案
 *********************************/
/**
 * @name: sl-shadow
 * @desc: 盒子模型阴影
 **/
.sl-shadow {
    -moz-box-shadow: 0 0 4px #999999;
    -o-box-shadow: 0 0 4px #999999;
    -webkit-box-shadow: 0px 0px 4px #999999;
    box-shadow: 0px 0px 4px #999999;
    /* gte=ie8 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Glow(color=#a0a0a0,strength=0) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=0,strength=2) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=90,strength=2) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=180,strength=2) progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=270,strength=2)";
    /* lte=ie7 */
    *filter:
    progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=0,strength=2)
    progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=90,strength=2)
    progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=180,strength=2)
    progid:DXImageTransform.Microsoft.Shadow(color=#a0a0a0,direction=270,strength=2);
}
/* ie9 **/
:root .sl-shadow { filter:none\9; }

/**********************************
 *          ui组件
 *********************************/
/*
 * @name: ui-link
 * @author: 展新
 * @desc: 首页链接样式
 **/
.ui-link {}
.ui-link-item { float: left; padding: 0 8px; border-right: 1px solid #cccccc; line-height: 14px; }
.ui-link-item a:hover { text-decoration: none; color: #ff6600; }
.ui-link-item-first { padding-left: 0; }
.ui-link-item-noborder, .ui-link-item-last { border-right: 0; }

/**
 * @name: icon
 * @desc: 首页产品图标
 **/
#alipay-img-logo { margin-right:5px; }
.icon {}
.icon-36, .icon-36 img { width: 36px; height: 36px; display: block; zoom: 1; }
.icon-apple, .icon-android, .icon-windowsphone, .icon-java {
	display: block; zoom: 1;
}

/**
 * @name: grid
 * @desc: 栅格
 */
.grid {}
.grid-990 { width: 990px; margin: 0 auto; }

/**********************************
 *          页面布局和细节
 *********************************/

/*----------- topbar ------------*/
.topbar {
    width: 100%;
    height: 26px;
    background: #f5f5f5;
    background: -moz-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: -webkit-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: -o-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: -ms-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f5f5f5');
    border-bottom: 1px solid #dcdcdc;
    _overflow: hidden;
}
.topbar-wrap {
    height: 26px;
    background: #f5f5f5;
    background: -moz-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: -webkit-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: -o-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: -ms-linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    background: linear-gradient(-90deg, #fcfcfc 0%, #f5f5f5 100%);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f5f5f5');
    border-bottom: 1px solid #dcdcdc;
}
.topbar-wrap .toplink {
    float: left;
    width: 300px;
    line-height: 14px;
    height: 14px;
    padding: 6px 0;
}
.topbar-wrap .toplink a {
    display: block;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    vertical-align: middle;
}
.topbar-wrap .mobile {
    float: left;
    padding: 0 15px 0 0;
    border-right: 1px solid #e2e2e2;
}
.topbar-wrap .mobile .icon-mobile {
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 4px;
    background: url(http://test.peaches.net/index/static/img/icon-mobile.png) no-repeat 0 0;
}
.topbar-wrap .goback {
    float: left;
    padding: 0 15px 0 0;
    border-left: 1px solid #fefefe;

}
.topbar-wrap .icon-goback {
    width: 14px;
    height: 14px;
    float: left;
    display: block;
    margin: 0 5px 0 5px;
    background: url(http://test.peaches.net/index/static/img/icon-back.png) no-repeat 0 0;
}

.topmenu { float: right; padding: 6px 0; color: #666666; position: relative; z-index: 1000; }
.topmenu-item { float: left; padding: 1px 15px; line-height: 12px; _line-height: 14px; border-left: 1px solid #fefefe; border-right: 1px solid #e2e2e2; }
.topmenu-item-first { border-left: none; border-right: none; }
.topmenu-item-first .split { padding: 0 5px; color: #666; }
.topmenu-item-last { border-right: none; padding-right: 0; }
.topmenu-item-dropdown { position: relative; border-left: 1px solid #e2e2e2; border-right: 1px  solid #e2e2e2;}

.topmenu-item-dropdown:hover, .topmenu-item-dropdown-hover {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-top: 3px; top: -3px;
    background-color: #ffffff;
}

.topmenu-item-dropdown a { float: left; zoom: 1; }
.topmenu-item-dropdown .icon-dropdown {
    width: 12px;
    height: 10px;
    display: inline-block;
    line-height: 10px;
    overflow: hidden;
    vertical-align: middle;
    background: url(http://test.peaches.net/index/static/img/icon-dropdown.png) no-repeat 0 0;
    zoom: 1;
}
.topmenu-item-dropdown a:hover { text-decoration: none; }
.topmenu-item-dropdown a:hover .icon-dropdown, .topmenu-item-dropdown-hover .icon-dropdown {
    background: url(http://test.peaches.net/index/static/img/icon-dropdown-h.png) no-repeat 0 0;
}
.topmenu-item-dropdown ul { display: none; position: absolute; background: #fff; }
.topmenu-item-dropdown:hover ul, .topmenu-item-dropdown-hover ul { padding-top: 8px; *padding-top: 6px; padding-bottom: 2px; padding-left: 15px; padding-right: 27px; background: #ffffff; display: block; border-bottom: 1px solid #ccc; left: -1px; top: 16px; border-left: 1px solid #ccc; border-right: 1px solid #ccc; }
.topmenu-item-dropdown ul li { line-height: 21px; *line-height: 18px; width: 60px; }
.topmenu-item-dropdown ul li a { display: block; }
.topmenu-item-dropdown ul li a:hover { background: #ffffff; color: #ff6600; }

/*----------- head --------------*/
.header { width: 100%; height: 84px; background: #ffffff url(http://test.peaches.net/index/static/img/hd-bg.png) no-repeat 0 0;}
.header-wrap { height: 60px; padding-top: 24px; }

/*----------- nav ---------------*/

.nav { width: 610px; height: 45px; float: right; position: relative; z-index: 999; }
.nav-item { float: left; height: 45px; position: relative; }
.nav-item .nav-item-link { height: 45px; display: block; text-indent: -9999em; overflow: hidden; }
.nav-item .nav-item-link, .nav-item .nav-item-link:hover, .nav-item .nav-item-link-active { background-repeat: no-repeat; }

.nav-item-sub { position: absolute; padding: 12px 3px; background: #fff; top: 45px; }
.nav-item-table { background: none repeat scroll 0 0 #FFFFFF; white-space: nowrap; }
.nav-item-table td, .nav-item-table th { border-right: 1px solid #e7e7e7; padding: 3px 16px; white-space: nowrap; }
.nav-item-table th { font-weight: 700; padding: 0 14px 3px 17px; border-collapse: separate; white-space: nowrap; }
.nav-item-table th.last, .nav-item-table td.last { border-right: none; }
.nav-item-table a { color: #898989; display: block; padding-left: 3px; position: relative; vertical-align: middle; }
.nav-item-table a:hover { background-color: #aaaaaa; border-radius: 2px 2px 2px 2px; color: #FFFFFF; text-decoration: none; vertical-align: middle; }
.nav-item .nav-item-sub { display: none; }
.nav-item .angle { position: absolute; display: none; width: 15px; height: 15px; font-size: 0; top: 35px; *top: 36px; _top: 36px; top: 37px\0;  right: 65px;
    background: url(http://test.peaches.net/index/static/img/icon-angle.png) no-repeat 0 0;
    overflow: hidden;
}
:root .angle { top: 35px; }
.nav-item:hover .nav-item-sub, .nav-item-hover .nav-item-sub { display: block; }
.nav-item:hover .angle, .nav-item-hover .angle { display: block; }


#home .nav-item-link { width: 90px; margin-right: 20px;
    background: url(http://test.peaches.net/index/static/img/icon-nav-1h.png) no-repeat 0 0;
}
#personal .nav-item-link { width: 110px;
    background: url(http://test.peaches.net/index/static/img/icon-nav-2.png) no-repeat 0 0;
    margin-right: 20px; }
#personal .nav-item-link:hover, #personal .nav-item-link-active {
    background: url(http://test.peaches.net/index/static/img/icon-nav-2h.png) no-repeat 0 0;
}
#personal .nav-item-sub { right: 20px;}
#payment .nav-item-link { width: 110px;
    background: url(http://test.peaches.net/index/static/img/icon-nav-3.png) no-repeat 0 0;
    margin-right: 20px; }
#payment .nav-item-link:hover, #payment .nav-item-link-active { background: url(http://test.peaches.net/index/static/img/icon-nav-3h.png) no-repeat 0 0; }
#payment .nav-item-sub { right: 20px; }
#security .nav-item-link { width: 110px;
    background: url(http://test.peaches.net/index/static/img/icon-nav-4.png) no-repeat 0 0;
    margin-right: 20px; }
#security .nav-item-link:hover, #security .nav-item-link-active {
    background: url(http://test.peaches.net/index/static/img/icon-nav-4h.png) no-repeat 0 0;
}
#security .nav-item-sub { right: 20px; }

#business .icon-nav-split { width: 30px; height: 45px; display: inline-block; background: url(http://test.peaches.net/index/static/img/icon-nav-split.png) no-repeat 0 0;
    float:  left;
}
#business .nav-item-link { width: 80px; background: url(http://test.peaches.net/index/static/img/icon-nav-5.png) no-repeat 0 0; float: left;}
#business .nav-item-link:hover, #business .nav-item-link-active {
    background: url(http://test.peaches.net/index/static/img/icon-nav-5h.png) no-repeat 0 0;
}
#business .angle { right: 28px; }
#business .nav-item-sub { right: 0px; }

/*----------- login ---------------*/
.login-box { height: 0; margin: 0 auto; position: relative; width: 990px; zoom:1; z-index:120; }
#loginIframe { position: absolute; right: 0; top: 12px; }
#loginLoading {
    position:absolute;
    right: 0;
    top: 12px;
    width:286px;
    height:311px;
    background:rgba(0, 0, 0, 0.2);
    text-align:center;
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#33000000', EndColorStr='#33000000');
}
:root #loginLoading {
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#00000000', EndColorStr='#00000000')\9;
}
#loginLoading img {
    width:50px;
    height:50px;
    margin-top:120px;
}
.head-notice,.pa-head-notice{
    width:972px;
    border: 1px solid  #CCC;
    margin:5px auto 3px;
    padding: 6px 8px 6px 8px;
    line-height:  18px;
    text-align:center;
    font-size: 12px;
    font-weight:bold;
    color: red;
}
#indexBanner { width: 990px; margin: 5px auto 0; }
#indexBanner a { display: inline-block; overflow: hidden; }
#indexBanner img { display: block; }
#indexBanner a.fn-hide { display: none; }

/*----------- banner ------------*/
#banner { position: relative; margin: 0 auto; min-width: 990px; overflow: hidden; width: 100%; height: 435px; z-index: 100; background: #f9f9f9; }
#J-slide { position: relative; width: 100%; height: 400px; background: #f9f4ed  url(https://i.alipayobjects.com/e/201210/1SVAjHMUI9.gif) no-repeat center center;}
#J-slide .slide { float: left; position: absolute; top: 0; left: 0; width: 100%; height: 400px; }
.bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-transition: opacity 800ms ease-in-out;
    -moz-transition: opacity 800ms ease-in-out;
    -ms-transition: opacity 800ms ease-in-out;
    -o-transition: opacity 800ms ease-in-out;
    transition: opacity 800ms ease-in-out;
    text-align: center;
    vertical-align: middle;
}
.pic {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-transition: all 800ms cubic-bezier(.62, .25, .65, .83);
    -moz-transition: all 800ms cubic-bezier(.62, .25, .65, .83);
    -ms-transition: all 800ms cubic-bezier(.62, .25, .65, .83);
    -o-transition: all 800ms cubic-bezier(.62, .25, .65, .83);
    transition: all 800ms cubic-bezier(.62, .25, .65, .83);
    text-align: center;
}
.txt {
    position: absolute;
    top: 50px;
    left: 0;
    background-repeat: no-repeat;
    width: 410px;
    height: 130px;
    text-indent: -9999em;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    -ms-transition: all 800ms ease-in-out;
    -o-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out;
}
.txt-wrap { position: relative; width: 990px; height: 100%; margin: 0 auto; zoom: 1; }
.txt {
    position: absolute;
    top: 50px;
    left: 0;
    background-repeat: no-repeat;
    width: 410px;
    height: 130px;
    text-indent: -9999em;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    -ms-transition: all 800ms ease-in-out;
    -o-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out;
}
.txt h3, .txt p { display: none; }
.txt a {
    display: block;
    position: absolute;
    width: 105px;
    height: 26px;
    left: 0;
    bottom: 8px;
    cursor: pointer;
    text-indent: -9999em;
    overflow: hidden;
    z-index: 9;
    outline:none;
}
.txt a::moz-focus-inner{border:0;}
.txt .txt-download {
    position: relative;
    top: 170px;
    height: 110px;
    width: 250px;
    left: 0;
}
.txt .txt-download p { display: block; text-indent: 0; font-size: 14px; color: #fefefe; }
.txt .txt-download .link { margin-top: 10px; }
.txt .txt-download .link a,
.txt .txt-download .link a:hover {
    cursor:pointer;
    width: 111px;
    height: 32px;
    position: static;
    float: left;
    margin-right: 12px;
}
.txt .txt-download .link .forapple {
    background: url(http://test.peaches.net/index/static/img/icon-app-iphone.png) no-repeat 0 0;
}
.txt .txt-download .link .forandroid {
    background: url(http://test.peaches.net/index/static/img/icon-app-android.png) no-repeat 0 0;
}
.txt .txt-download .link .forapple:hover {
    background: url(http://test.peaches.net/index/static/img/icon-app-iphoneh.png) no-repeat 0 0;
}
.txt .txt-download .link .forandroid:hover {
    background: url(http://test.peaches.net/index/static/img/icon-app-androidh.png) no-repeat 0 0;
}

.slide-1 .bg-1, .slide-1 .pic-1, .slide-1 .txt-1 { display: block; opacity: 1; }
.slide-2 .bg-2, .slide-2 .pic-2, .slide-2 .txt-2 { display: block; opacity: 1; }
.slide-3 .bg-3, .slide-3 .pic-3, .slide-3 .txt-3 { display: block; opacity: 1; }
.slide-4 .bg-4, .slide-4 .pic-4, .slide-4 .txt-4 { display: block; opacity: 1; }
.slide-5 .bg-5, .slide-5 .pic-5, .slide-5 .txt-5 { display: block; opacity: 1; }

.slide-number {  padding: 9px 0; text-align: center; }
.slide-number a { width: 14px; height: 14px; display: inline-block; margin: 0 10px 0 0;
    background: url(http://test.peaches.net/index/static/img/icon-silder.png) no-repeat 0 0px;
    text-indent: -9999em; overflow: hidden; outline:none;}
.slide-number a::moz-focus-inner{border:0;}
.slide-number .slide-number-active {
    background: url(http://test.peaches.net/index/static/img/icon-silder-h.png) no-repeat 0 0;
}

/** banner 动画效果 **/
.anim-left { left: 30px; }
.anim-right { left: -30px; }
.anim-up { top: 0px; }
.anim-down { top: 100px; }
.anim-left-over { left: 0; }
.anim-right-over { left: 0; }
.anim-up-over { top: 50px; }
.anim-down-over { top: 50px; }
/*----------- server-link -------*/
#server-link {
    width: 990px;
    height: 0;
    margin: 0 auto;
    position: relative;
    background: #f00;
    z-index: 999;
}
#server-link .ui-link {
    padding: 10px 0;
    line-height: 14px;
    height: 14px;
    position: absolute;
    bottom: 54px;
    left: 0;
}
#server-link .ui-link-item { padding-right: 12px; padding-left: 0; border-right: 1px solid #fff; float: left; }
#server-link .ui-link-item a { color: #ffffff; }
#server-link .ui-link-item a:hover { color: #ffffff; text-decoration: underline; }
#server-link .ui-link-item-last { padding-left: 12px; border-right: none }

/*----------- main --------------*/
.main { width: 100%; height: 330px; background: #f9f9f9; }
.product { height: 200px; border-bottom: 1px solid #e6e6e6; background: #f9f9f9; }
.product-item { width: 340px; height: auto; float: left; margin: 20px 20px 0 0; }
.product-item .title { width: 270px; height: 30px; margin-top: 10px; text-indent: -9999em; overflow: hidden; }
.product-item .title-link { display: block; height: 30px;}

#pay-quickly .title { background-repeat: no-repeat; background-position: 0px 2px; width: 240px; }
#pay-quickly .picture { width: 270px; height: 50px; background: url(http://test.peaches.net/index/static/img/product1.jpg) no-repeat 0 0; }
#pay-quickly .title-link { background: url(http://test.peaches.net/index/static/img/min-tit-1.png) no-repeat 0 0; }
#pay-life .title { background-repeat: no-repeat; background-position: -1px -32px; width: 190px; }
#pay-life .picture { width: 290px; height: 50px; background: url(http://test.peaches.net/index/static/img/product2.jpg) no-repeat 0 0; }
#pay-life .title-link { background: url(http://test.peaches.net/index/static/img/min-tit-2.png) no-repeat 0 0; }
#pay-anywhere .title { background-repeat: no-repeat; background-position: 0px -64px; width: 190px; }
#pay-anywhere .picture { width: 209px; height: 50px; background: url(http://test.peaches.net/index/static/img/product3.jpg) no-repeat 0 0;}
#pay-anywhere .title-link { background: url(http://test.peaches.net/index/static/img/min-tit-3.png) no-repeat 0 0; }

.product-item .ui-link { padding: 10px 0 6px; font-size: 14px; }
.product-item .ui-link-item { line-height: 16px; }
.product-item a:hover { color: #ff6600; text-decoration: none; }
.product-item .link { margin-bottom: 10px; padding: 4px 0 4px 0px; margin-top: 10px; font-size: 14px; }

.product-item .link .icon-youhui {
    width: 50px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background: url(http://test.peaches.net/index/static/img/icon-youhui.png) no-repeat 0 0;
}

.product-item .picture { width: 270px; height: 45px; }
.product-item .picture img { vertical-align: middle; }
.product-item .picture .kuaijie { height: 45px; display: inline-block; }
.product-item .picture .icon { margin: 3px 11px 3px 0; display: inline-block; }
.product-item .picture .client { height: 36px; display: inline-block; }
.product-item-last { width: 270px; margin-right: 0;}

/*----------- about -------------*/
.about { height: 58px; padding: 35px 0; border-top: 1px solid #ffffff; background: #f9f9f9; }
.about-item { width: 270px; height: 55px; float: left; margin-right: 90px; position: relative;}
.about-item-last { margin-right: 0; }
.about-item .title { width: 220px; margin-left: 50px; height: 30px; text-indent: -9999em; }
.about-item .icon-title-safety { background: url(http://test.peaches.net/index/static/img/icon-tit-about.png) no-repeat 0 0; }
.about-item .icon-title-vip { background: url(http://test.peaches.net/index/static/img/icon-tit-vip.png) no-repeat 0 0; }
.about-item .icon-title-abc { background: url(http://test.peaches.net/index/static/img/icon-tit-abc.png) no-repeat 0 0; }
.about-item .ui-link { height: 16px; padding: 4px 0; }
.about-item .ui-link-item { line-height: 16px; font-size: 14px; }
.about-item .ui-link-item a { color: #999; }
.about-item .ui-link-item a:hover { color: #ff6600; }
.about-item .icon-about {
    position: absolute;
    top: 3px;
    left: 0;
    width: 46px;
    height: 46px;
    display: block;
}
.about-item .icon-about-safety {
    background: url(http://test.peaches.net/index/static/img/icon-about-about.png) no-repeat 0 0;
}
.about-item .icon-about-vip {
    background: url(http://test.peaches.net/index/static/img/icon-about-vip.png) no-repeat 0 0;
}
.about-item .icon-about-abc {
    background: url(http://test.peaches.net/index/static/img/icon-about-abc.png) no-repeat 0 0;
}
#safety .ui-link { width: 220px; margin-left: 50px; }
#vip .ui-link { width: 212px; margin-left: 58px; }
#abc .ui-link { width: 215px; margin-left: 55px; }

/*----------- footer -------------*/
.footer { width: 100%; height: 280px;
    background-color: #ededed;
}
.footer-line {
    width: 100%;
    height: 20px;
    background: url(http://test.peaches.net/index/static/img/ft-bg.png) no-repeat 0 0;
}
.partner {
    padding: 20px 0 25px 0;
    height: 70px;
    border-bottom: 1px solid #d9d9d9;
    background-color: #ededed;
    overflow: hidden;
    zoom: 1;
}
.partner-item { width: 240px; height: 70px; float: left; zoom: 1; }
.partner-item-last { width: 270px; }
.partner-item .title { line-height: 18px; padding-bottom: 5px; }
.partner-item .title span { font-weight: 700; color: #808080; }
.partner-item .more { color: #b3b3b3; margin-left: 10px;  }
.partner-item .more .icon-more {
    line-height: 15px;
    width: 15px;
    height: 15px;
    *height: 13px;
    *line-height: 13px;
    display: inline-block;
    background: url(http://test.peaches.net/index/static/img/icon-more.png) no-repeat 0 0;
    vertical-align: middle;
}
.partner-item .cnt { width: 240px; height: 50px; zoom: 1; overflow: hidden;}

.partner-item .cnt .business-pic { margin-top: 5px; height: 20px; background: url(https://i.alipayobjects.com/e/201206/3KWk6Hcenj.png) no-repeat 0 0; display: block; width: 205px;}
.partner-item .cnt .business-pic-last { width: 205px; margin-top: 2px; height: 20px; display: block;}
.partner-item .cnt .business-pic-last i {
    display: block;
    width: 205px;
    height: 20px;
    background: url(https://i.alipayobjects.com/e/201206/3KXXnQ8Bm7.jpg) no-repeat 0 0;
}
.partner-item .cnt .business-pic-last .a {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXXnQ8Bm7.jpg);
}
.partner-item .cnt .business-pic-last .b {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXXh2KopP.jpg);
}
.partner-item .cnt .business-pic-last .c {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXXYtR7U3.jpg);
}
.partner-item .cnt .business-pic-last .d {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWmRqteF.jpg);
}
.partner-item .cnt .business-pic-last .e {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWlf5Iqh.jpg);
}
.partner-item .cnt .business-pic-last .f {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWoWtTHv.jpg);
}
.partner-item .cnt .business-pic-last .g {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWoKAamJ.jpg);
}
.partner-item .cnt .business-pic-last .h {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWj43Kbb.jpg);
}
.partner-item .cnt .business-pic-last .i {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWgSheyh.jpg);
}
.partner-item .cnt .business-pic-last .j {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWX44sKp.jpg);
}
.partner-item .cnt .business-pic-last .k {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWihCVzf.jpg);
}
.partner-item .cnt .business-pic-last .l {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWdnGntr.jpg);
}
.partner-item .cnt .business-pic-last .m {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWh6Cred.jpg);
}
.partner-item .cnt .business-pic-last .n {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWX5eJB5.jpg);
}
.partner-item .cnt .business-pic-last .o {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWcAF4xn.jpg);
}
.partner-item .cnt .business-pic-last .p {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWX5kWC3.jpg);
}
.partner-item .cnt .business-pic-last .q {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWX5OrJz.jpg);
}
.partner-item .cnt .business-pic-last .r {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWX5zxWt.jpg);
}
.partner-item .cnt .business-pic-last .s {
    background-image: url(https://i.alipayobjects.com/e/201206/3KXWX4w02V.jpg);
}


.partner-item .ui-list-item { line-height: 20px; height:24px; }
.partner-item .ui-list-item .icon-list { width: 15px; height: 14px; display:inline-block; background: url(http://test.peaches.net/index/static/img/icon-dise.png) no-repeat 0 0; vertical-align: middle;}

.icon-partner-bank { width: 240px; height: 50px; display: block; background: url(http://test.peaches.net/index/static/img/icon-bank.png) no-repeat 0 0;}
.icon-partner-security { width: 220px; height: 50px; display: block; background: url(http://test.peaches.net/index/static/img/icon-security.png) no-repeat 0 0;}

.J-RotateList { height:48px;width:270px;overflow:hidden;margin-top: 5px;position:relative;}

.sitelink { height: 50px; padding: 25px 0; border-top: 1px solid #f6f6f6; text-align: center; background-color: #ededed; }
.sitelink .ui-link { display: inline-block; padding: 4px 0; *display: inline; _display: inline;  }
.sitelink .ui-link-bottom { padding-top: 8px; _padding-top: 15px; *padding-top: 15px;  }
.sitelink .ui-link-item, .sitelink .ui-link-item a { color: #a0a0a0; }
.sitelink .ui-link-item a:hover { text-decoration: underline; color: #a0a0a0;}

.auth { height: 50px; text-align: center; background-color: #ededed; }
.auth-link { display: inline-block; _display: inline; *display: inline; }
.auth-link-item { height: 40px; float: left; }
.auth-link-item a, .auth-link-item span { display: block; text-indent: -9999em; overflow: hidden; }
.auth .icon, .auth .icon:hover {
    display: block;
}
.auth .icon-zfywxk { width: 40px; height: 35px;
    background: url(http://test.peaches.net/index/static/img/icon-foot1-h.png) no-repeat 0 0;
    margin-right: 15px; }
.auth .icon-zfywxk:hover {
    background: url(http://test.peaches.net/index/static/img/icon-foot1.png) no-repeat 0 0;
}

.auth .icon-pcirk { width: 75px; height: 35px;
    background: url(http://test.peaches.net/index/static/img/icon-foot2-h.png) no-repeat 0 0;
    margin-right: 16px; }
.auth .icon-pcirk:hover {
    background: url(http://test.peaches.net/index/static/img/icon-foot2.png) no-repeat 0 0 ;
}
.auth .icon-visayz { width: 42px; height: 35px;
    background: url(http://test.peaches.net/index/static/img/icon-foot3-h.png) no-repeat 0 0;
    margin-right: 14px; }
.auth .icon-visayz:hover {
    background: url(http://test.peaches.net/index/static/img/icon-foot3.png) no-repeat 0 0;
}
.auth .icon-vsjmfw { width: 62px; height: 35px;
    background: url(http://test.peaches.net/index/static/img/icon-foot4-h.png) no-repeat 0 0;
    margin-right: 13px; }
.auth .icon-vsjmfw:hover {
    background: url(http://test.peaches.net/index/static/img/icon-foot4.png) no-repeat 0 0;
}
.auth .icon-zjwm { width: 32px; height: 35px;
    background: url(http://test.peaches.net/index/static/img/icon-foot5-h.png) no-repeat 0 0;
    margin-right: 14px }
.auth .icon-zjwm:hover {
    background: url(http://test.peaches.net/index/static/img/icon-foot5.png) no-repeat 0 0;
}
.auth .icon-wlgs { width: 25px; height: 35px;
    background: url(http://test.peaches.net/index/static/img/icon-foot6-h.png) no-repeat 0 0;
    margin-right: 17px; }
.auth .icon-wlgs:hover {
    background: url(http://test.peaches.net/index/static/img/icon-foot6.png) no-repeat 0 0;
}
.auth .icon-ppaa { width: 31px; height: 35px;
    background: url(http://test.peaches.net/index/static/img/icon-foot7-h.png) no-repeat 0 0;
    margin-right: 12px; }
.auth .icon-ppaa:hover {
    background: url(http://test.peaches.net/index/static/img/icon-foot7.png) no-repeat 0 0;
}
.auth .icon-hzdt { width: 30px; height: 35px;
    background: url(http://test.peaches.net/index/static/img/icon-foot8-h.png) no-repeat 0 0;
    margin-right: 10px; }
.auth .icon-hzdt:hover {
    background: url(http://test.peaches.net/index/static/img/icon-foot8.png) no-repeat 0 0;
}
.auth .icon-aqff { width: 41px; height: 35px;
    background: url(http://test.peaches.net/index/static/img/icon-foot9-72.png) no-repeat 0 0;
    margin-right: 12px;}
.auth .icon-aqff:hover {
    background: url(http://test.peaches.net/index/static/img/icon-foot9.png) no-repeat 0 0;
}
.auth .icon-rzcx { width: 75px; height: 35px;
    background: url(http://test.peaches.net/index/static/img/icon-foot10-h.png) no-repeat 0 0;
}
.auth .icon-rzcx:hover {
    background: url(http://test.peaches.net/index/static/img/icon-foot10.png) no-repeat 0 0;
}

/*----------- ServerNum ---------------*/
#ServerNum {
    width: 100%;
    background: #ededed;
    color: #ededed;
}
#ServerNum p {
    background-color: #ededed;
    text-align: center;
}
/*----------- aliedit-xbox ---------------*/
.rc-bg{position:relative}
.slogan_txt{
    position:absolute;
    font-size:12px;
    color:#7c7878;
    font-weight:normal;
    right:12px;
    top:0;
}
.fn-hide,.hidden{display:none}
.alieditContainer *{vertical-align:bottom}
.alieditContainer{display:inline-block;*display:inline;zoom:1;width:184px;height:24px;vertical-align:bottom;position:relative}
.alieditContainer object{width:100%;height:24px}
.alieditContainer a.aliedit-install{border:1px solid #aeaeae;line-height:24px;color:#06F!important;_width:184px;min-width:184px;height:100%;display:block;text-align:center}
.promptText_PTA{display:none}
.edit-tips{background:#a8a8a8;height:28px;left:0;top:0;position:relative;margin-top:-64px;width:180px}
.edit-tips-two-lines{background:none repeat scroll 0 0 #a8a8a8;height:48px;left:0;position:relative;top:-84px;width:180px}
.edit-tips-text{background:none repeat scroll 0 0 #ffff8d;border:1px solid #dea90c;display:block;line-height:20px;left:-2px;padding:3px 5px;position:relative;top:-2px;width:168px}
.edit-tips-angle{background:url("https://img.alipay.com/pa/frame/v2/ico-pa.png") no-repeat scroll -40px -128px transparent;display:block;height:11px;left:20px;overflow:hidden;line-height:11px;margin-top:-3px;position:absolute;top:100%;width:10px}
.light-dialog{width:600px;height:370px;overflow:hidden;position:absolute;z-index:9999;top:5%;left:10%;border:6px solid #767576;background:#fff;visibility:hidden;-moz-box-shadow:3px 2px 6px #333;-webkit-box-shadow:#333 2px 2px 6px}
.light-dialog iframe{width:100%;height:100%}
.light-dialog-shadow{position:absolute;left:0;top:0;z-index:9998;width:100%;height:100%;background:#000;visibility:hidden;opacity:.2;filter:alpha(opacity=20);-ms-filter:'alpha(opacity=20)'}
.light-dialog-shadow iframe{opacity:0;filter:alpha(opacity=0);-ms-filter:'alpha(opacity=0)'}
.light-load{position:absolute;z-index:9999;visibility:hidden}
.light-dialog-top{padding:20px}
.light-dialog-title{border-bottom:1px solid #dbdbdb;margin-bottom:3px;overflow:hidden;padding-bottom:3px;position:relative;width:100%}
.light-dialog-title h2{float:left;font:18px/22px SimHei}
.light-dialog-title a{border-bottom:1px solid #fff;display:block;line-height:22px;position:absolute;text-decoration:none;right:0;top:0}
.light-dialog-title s{-moz-transition:all .2s ease-in-out 0s;background:url("https://img.alipay.com/pa/frame/v2/ico-text.png") no-repeat scroll -2px -76px transparent;cursor:pointer;display:inline-block;height:11px;overflow:hidden;position:absolute;top:6px;vertical-align:middle;width:11px}
.light-dialog-title em{cursor:pointer;display:inline-block;font-style:normal;font-weight:normal;margin-left:11px;text-align:right;font-size:12px;width:30px}
.light-dialog-title a:hover{text-decoration:none}
.light-dialog-title a:hover em{text-decoration:underline}
.light-dialog-title a:hover s{-moz-transform:rotate(90deg)}
.aliedit-dn{position:relative;display:block;width:165px;height:100%;margin:-24px 0 0;border:1px solid red;line-height:24px;text-align:center;color:#f00;font-size:12px;background:#fff}
.aliedit-xbox{width:600px;height:370px;overflow:hidden;position:absolute;z-index:9999;top:5%;left:10%;border:6px solid #767576;background:#fff;-moz-box-shadow:3px 2px 6px #333;-webkit-box-shadow:#333 2px 2px 6px}
.aliedit-xbox iframe,.aliedit-box-shadow iframe{width:100%;height:100%}
.aliedit-box-shadow{position:absolute;left:0;top:0;z-index:9998;width:100%;height:100%;background:#000;opacity:.2;filter:alpha(opacity=20);-ms-filter:'alpha(opacity=20)'}
.aliedit-box-shadow iframe{opacity:0;filter:alpha(opacity=0);-ms-filter:'alpha(opacity=0)'}
.aliedit-load{z-index:9999}
.aliedit-tips{position:relative;_position:absolute;display:block;width:192px;height:37px;background:url(https://img.alipay.com/pa/global/home/bg-aliedit.png) 0 -36px no-repeat;margin-top:-61px}
.aliedit-tips-update{background-position:0 -76px}
.pop-aliedit .container{padding:20px;overflow:hidden;border:3px #a2a2a2 solid;background:#f3f3f3}
.cnnic a{background:none;margin-top:2px;text-indent:0;}
.cnnic img{
    width:94px;
    height:33px
}
/*----------- ABTest flash ---------------*/
#abtest-local,#abtest-local-ff {
    position:absolute;
}

/** end ---homeindex.css---*/
/**Last Changed Author: zhanxin.lin--Last Changed Date: Thu Oct 18 17:56:20 CST 2012**/
/**alice.common.homeindexSimple-1.5-SNAPSHOT**/
/** CurrentDeveloper: linzhanxin**/
/** DeployDate: Mon Oct 22 11:29:54 CST 2012**/